<launch>
  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find conveyorbelt_gazebo)/worlds/conveyorbelt.world"/> <!-- Note: the world_name is with respect to GAZEBO_RESOURCE_PATH environmental variable -->
    <arg name="paused" value="true"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="recording" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <node name="spawn_box1" pkg="gazebo_ros" type="spawn_model" args="-urdf -file $(find conveyorbelt_gazebo)/urdf/box.urdf -model box1 -x 0.53 -y 0.0 -z 1.5"
    respawn="false" output="screen" />

  <node name="spawn_box2" pkg="gazebo_ros" type="spawn_model" args="-urdf -file $(find conveyorbelt_gazebo)/urdf/box.urdf -model box2 -x 0.53 -y 0.4 -z 1.5"
    respawn="false" output="screen" />

  <node name="spawn_box3" pkg="gazebo_ros" type="spawn_model" args="-urdf -file $(find conveyorbelt_gazebo)/urdf/box.urdf -model box3 -x 0.53 -y -0.4 -z 1.5"
    respawn="false" output="screen" />

  <node name="spawn_box4" pkg="gazebo_ros" type="spawn_model" args="-urdf -file $(find conveyorbelt_gazebo)/urdf/box.urdf -model box4 -x -0.53 -y 0.0 -z 1.5"
    respawn="false" output="screen" />

  <node name="spawn_box5" pkg="gazebo_ros" type="spawn_model" args="-urdf -file $(find conveyorbelt_gazebo)/urdf/box.urdf -model box5 -x -0.53 -y 0.4 -z 1.5"
    respawn="false" output="screen" />

  <node name="spawn_box6" pkg="gazebo_ros" type="spawn_model" args="-urdf -file $(find conveyorbelt_gazebo)/urdf/box.urdf -model box6 -x -0.53 -y -0.4 -z 1.5"
    respawn="false" output="screen" />
</launch>

